<%= form_with(model: @feed, url: choose_new_or_edit(@feed)) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
        <% feed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.label :content %>
  <%= form.text_field :content%>
   <%= form.label :image %>
    <%= image_tag(feed.image.url) if feed.image && feed.image.url %>,
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
